<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">ENCOTRA</h1>
            <h3 class="mb-5">
                <em>registro de Entidades, Contratos y Trabajadores</em><br>
            </h3>
            <a class="btn btn-primary btn-lg" href="/entidades">
                Entidades
            </a>
            <a class="btn btn-primary btn-lg" href="/contratos">
                Contratos
            </a>
            <a class="btn btn-primary btn-lg" href="/trabajadores">
                Trabajadores
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>