<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Registrarse en TurnApp</h1>
            <h3 class="mb-5">
                <em>Como quieres registrarte?</em><br>
            </h3>
            <div class="container">
                <div class="row">
                    <a href="/signup" class="col">
                        <div class="button-container">
                            <div class="div-img-button" >
                                <img class="img" src="./img/btn-usuario.png" title="Usuario" alt="Usuario">
                                <div class="text">Usuario</div>
                            </div>
                        </div>
                    </a>
                    <a href="/signupE" class="col">
                        <div class="button-container">
                            <div class="div-img-button" >
                                <img class="img" src="./img/btn-empresa.png" title="Aliado" alt="Aliado">
                                <div class="text">Aliado</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </header>
</main>