<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-map-marker-alt"></i> ENCONTRA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Entidades">Entidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Contratos">Contratos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Trabajadores">Trabajadores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>